<div class="penis">
    <div class="ui card centered">
        <div class="content">
            <h4 class="ui center aligned medium icon header">
                <i class="large red blind icon"></i>
                <div class="content">
                    Blind people chat
                    <div class="sub header">Fell at home with this excellent new chat, turning dreams into realiteh.</div>
                </div>
            </h4>
        </div>
    </div>
</div>

<div class="ui grid">
    <div class="ten wide column">
        <div class="ui fluid raised card chatbox">
            <div class="content">
                <div class="ui feed">
                    <div class="event">
                        <div class="content">
                            <div class="date">
                                3 years ago
                            </div>
                            <div class="summary">
                                <em>Janette:</em> how is everyone? :)
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="extra content">
                <form class="ui reply form">
                    <div class="field">
                        <textarea></textarea>
                    </div>
                    <div class="ui fluid icon right aligned">
                        <i class="black edit icon"></i></div>
                </form>
            </div>
        </div>
    </div>

    <div class="six wide column chatbox">

        <div class="ui vertical menu">
            <a class="item">
                <h4 class="ui header">Settings</h4>
                <p>Some settings, nto sure what they do yet</p>
            </a>
            <a class="item">
                <h4 class="ui header">Coupons</h4>
                <p>Yes, coupons. We totally got them here</p>
            </a>
            <a class="item">
                <h4 class="ui header">Rebates</h4>
                <p>I thought it was rAbates not rEbates... weird</p>
            </a>
        </div>

    </div>
</div>